html{
  font-size: 20px;
}

body{
  text-align: center;
  font-family:"Arial","Meiryo",sans-serif;

}

#basic p{
  font-weight: bold;
}

h1{
  font-size: 2.0em;
  letter-spacing: 1.2em;
  text-decoration: underline;
  border-bottom: 3px solid　rgb(115, 115, 114) ;
  text-shadow: 1px 1px 2px gray;
  font-family: "Josefin Sans",sans-serif;
}


.blue{
  color: skyblue;
}

.pink{
  color:rgb(255, 192, 203);
}

p{
  font-weight: normal;
}